<%
  var giscus = config.giscus || {};
  var giscusReady = giscus.enable &&
    giscus.repo &&
    giscus.repo_id &&
    giscus.category &&
    giscus.category_id;
%>
<% if (giscusReady) { %>
<div class="comment comment-giscus">
  <div id="giscus-comments"
       data-theme-light="<%= giscus.theme_light || 'light' %>"
       data-theme-dark="<%= giscus.theme_dark || 'dark' %>"></div>
  <script src="https://giscus.app/client.js"
          data-repo="<%= giscus.repo %>"
          data-repo-id="<%= giscus.repo_id %>"
          data-category="<%= giscus.category %>"
          data-category-id="<%= giscus.category_id %>"
          data-mapping="<%= giscus.mapping || 'pathname' %>"
          data-strict="<%= giscus.strict != null ? giscus.strict : 0 %>"
          data-reactions-enabled="<%= giscus.reactions_enabled != null ? giscus.reactions_enabled : 1 %>"
          data-emit-metadata="<%= giscus.emit_metadata != null ? giscus.emit_metadata : 0 %>"
          data-input-position="<%= giscus.input_position || 'top' %>"
          data-theme="preferred_color_scheme"
          data-lang="<%= giscus.lang || 'zh-CN' %>"
          data-loading="<%= giscus.loading || 'lazy' %>"
          crossorigin="anonymous"
          async></script>
</div>
<% } else if (giscus.enable) { %>
<script>
  console.warn('[giscus] Enabled but not fully configured. Please fill repo_id/category_id in server/_config.yml');
</script>
<% } %>
